/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*layout*/
.main-header,
.wrapper,
.main-footer {
	padding: 50px 20%;
} 
/*body*/
body {
	font-family: 'Source Sans Pro', sans-serif;
}

/*header*/
a {
	text-decoration: none;
}
header {
	/*font-family: 'Grand Hotel', cursive;*/
	color: gray;
	font-size: 3em;
	text-align: center;
	/*background: url("../images/background-header.jpg");*/
	background-color: #755270;
	border-bottom: 3px dotted white;
}	
header img {
	height: 242px;
	width: 242px;
	margin-bottom: 10px;
	border-radius: 50%;
	box-shadow: #fff 0 0 0 5px, #bbbbbb 0 0 0 3px;
	display: block;
	margin: auto;
}
header h1 {
	font-size: 2em;
	margin: 1px;
	color: #857182;
}
.main-header a {
	color: #857182;
}
.main-header li {
	padding: 0.5em 10%;
	display: inline-block;
}

/*section*/
.wrapper {
	width: auto;
	background-image: url("../images/light_grey.png");
	border-bottom: 3px dotted white;
}
.wrapper a {
	color: #857182;
	text-decoration: none;
	/*font-family: "Helvetica Neue";*/
	font-size: 1em;
}
.wrapper a:hover {
	color: #FF6666;
	text-decoration: underline;
}
h1 {
	/*font-family: 'Grand Hotel', cursive;*/
	color: #857182;
	font-size: 2em;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
h2 {
	/*font-family: "Helvetica Neue";*/
	font-size: 1.2em;
	color: #857182;
}
p {
	/*font-family: "Helvetica Neue";*/
	font-size: 1em;
	color: #8C848B;
	/*margin-bottom: 12px;*/
	margin: 0.8em 0
}

footer {
  height: 160px;
  font-size: 1em;
  background-color: #755270;
  text-align: center;
  border-top: 3px dotted white;
}
.contact li {
	display: inline-block;
}
.contact a {
	background: url("../images/social-media-sprite.png");
	width: 60px;
	height: 60px;
	display: block;
	opacity: 0.8;
}
.contact a:hover {
	opacity: 1;
}
.contact a span {
	display: none;
}
.contact a.facebook {
	background-position: 0px 0px;
}
.contact a.twitter {
	background-position: 0px -70px;
}
.contact a.e-mail {
	background-position: 0px -140px;
}
/*media queries*/
@media screen and (max-width: 1280px) {
  	section header {
    height: 7em;
  }
}
@media screen and (max-width: 960px) {
   	section {
    margin-right: 0;
    width: 100%;
    float: none;
  }
}