/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*layout*/

.main-header,
.wrapper,
.main-footer {
	padding: 50px 20%;
} 

/*body*/

body {
	font-family: Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
}

/*header*/

header {
	color: gray;
	text-align: center;
	background-color: #333D4C;
	height: 5.5em;
}	
header h1 {
	font-size: 1.5em;
	margin: 2em auto;
	color: #857182;
	float: left;
}
header img {
	float: left;
	height: 10em;
	width: 5em;
	margin: -2em auto;
}

.main-header ul {
	text-align: right;
	float: right;
	margin-top: 5.5em;
}
.main-header li {
	display: inline-block;
	font-size: 1em;
}
.main-header a {
	display: block;
	padding: 20px 35px;
	color: #B75D6C;
	text-transform: uppercase;
}
.main-header a:hover {
	color: #80B2B1;
}

/*section*/

.wrapper {
	width: auto;
	background-color: #F3BB50;
}
#presentacion,
#servicios {
	margin: 5em 0;
}
h1,
h2 {
	letter-spacing: 0.15em;
	color: #333D4C;
}
h1 {
	font-size: 2em;
	margin: 1em 0;
}
h2 {
	font-size: 1.2em;
	margin-top: 2em;
}
p {
	font-size: 1em;
	color: #333D4C; 
	margin: 0.8em 0;
	line-height: 1.5em;
}

/*footer*/

footer {
  height: 270px;
  font-size: 1em;
  background-color: #333D4C;
  text-align: center;
}
footer img {
	height: 242px;
	width: 242px;
	margin-bottom: 10px;
	border-radius: 50%;
	box-shadow: #fff 0 0 0 5px, #bbbbbb 0 0 0 3px;
	display: block;
	margin: auto;
}
.contact li {
	display: inline-block;
}
.contact a {
	background: url("../images/social-media-sprite.png");
	width: 60px;
	height: 60px;
	display: block;
	opacity: 0.8;
}
.contact a:hover {
	opacity: 1;
}
.contact a span {
	display: none;
}
.contact a.facebook {
	background-position: 0px 0px;
}
.contact a.twitter {
	background-position: 0px -70px;
}
.contact a.e-mail {
	background-position: 0px -140px;
}

/*media queries*/

@media screen and (max-width: 1280px) {
  	section header {
    height: 7em;
  }
}
@media screen and (max-width: 960px) {
   	section {
    margin-right: 0;
    width: 100%;
    float: none;
  }
}